* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1000 - 320)));
  font-family: 'KoHo', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* ************************universal************************** */
a {
  text-decoration: none;
  color: #A5142D;
}

.navigation-container {
  position: absolute;
  bottom: 30px;
  text-align: center;
  width: 100%;
}

h2 {
font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1000 - 320)));
}

.link {
  font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1000 - 320)));
}

.section-container {
  min-height: 100vh;
}

#section-2 {
  width: 50%;
  float: right;
}

.right-section {
  text-align: center;
}

/* ************************section-1************************** */
#section-1 {
  background-color: #EAE1E1;
  color: #464646;
  position: fixed;
  padding: 20px;
  width: 50%;
}

#section-1 div:first-child {
  text-align: center;
}

#section-1::after {
  content: "";
  height: 92vh;
  width: 50vw;
  position: absolute;
  top: 0;
  left: 0;
  background: url('./images/heart-anima.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40%;
  opacity: .6;
  z-index: 1;
}

.tag-line {
  padding-top: 30px;
  display: inline-block;
}

.red {
  color: #A5142D;
  margin: 0 10px;
}

.name-container {
  text-align: center;
}

.name {
  font-family: 'Poiret One', cursive;
  font-size: calc(25px + (55 - 25) * ((100vw - 320px) / (1000 - 320)));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.hex-container {
  display: inline;
}

.hex-img {
  width: 3%;
  vertical-align: top;
}

/* ************************section-2************************** */
.about-me-left {
  background-color: #464646;
  color: white;
}

#about-me-right {
  color: #464646;
  padding: 20px;
}

#about-me-right p:first-child {
  margin-top: 100px;
}

#about-me-right p {
  margin: 38px;
}

.octagon-img-container {
  width: 35%;
  margin: 35px auto;
}

.octagon-img-container >img {
  width: 100%;
}

.learning {
  margin-top: 100px;
  text-align: center;
}

.learning h4 {
  display: inline-block;
  margin-bottom: 40px;
}

.learning h4:first-child {
  color: #A5142D
}

.left-about-container {
  display: flex;
  margin: auto;
}

/* ************************section-3************************** */
.project-container {
  margin-bottom: 100px;
}

.projects-headline {
  font-family: 'Poiret One', cursive;
  background-color: #A5142D;
  color: white;
  padding: 5px;
  font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1000 - 320)));
}

.project-name {
  font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1000 - 320)));
  font-weight: bold;
  color:  #A5142D;
}

#projects-right {
  color: #464646;
}

.project-img-container {
  margin: 15px 0
}

.project-description {
  background-color: #636060;
  color: white;
  padding: 25px;
  margin: 5px;
  text-align: center;
}

.built {
  color: #A5142D;
  font-weight: bold;
  display: inline;
}

.build-list {
  display: inline;
}

.projects-headline-container {
  background-color: #A5142D;
  padding: 5px;
}

.project-mini-nav > ul {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  color: #464646;
}

.project-mini-nav  li {
  display: inline-block;
}

.project-mini-nav  a {
  color: white;
  /* color: #464646; */
  font-size: calc(12px + (17 - 12) * ((100vw - 320px) / (1000 - 320)));
}

li + li::before {
  content: " | ";
  font-weight: bold;
}

.project-image {
  width: 100%;
}

.gh-img-container {
  margin: 15px auto;
  width: 12%;
}

.gh-image {
  width: 100%
}

/* ************************section-4************************** */

#contact-right {
  color: #464646;
  height: 100vh;
}

.contact-me-headline {
  margin: 100px 0;
  font-family: 'Poiret One', cursive;
  background-color: #A5142D;
  color: white;
  padding: 20px;
  font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1000 - 320)));
}

#contact-right > h4 {
  margin: 45px 0;
}

.contact-links-container {
  text-align: center;
  margin: 70px 0;
}

.contact-img-container {
  margin: 5px;
  display: inline-block;
  width: 10%;
}

.contact-img {
  width: 100%;
}
