* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1000 - 320)));
  font-family: 'KoHo', sans-serif;
  /* background: url('http://thecodeplayer.com/uploads/media/geometry.png'); */
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

h2 {
font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1000 - 320)));
}

.test {
  display: inline;
}

/* ************************universal************************** */
a {
  text-decoration: none;
  color: #A5142D;
  padding: 0 10px;
}

.navigation-container {
  position: absolute;
  bottom: 30px;
  text-align: center;
  width: 100%;
}

.link {
font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1000 - 320)));
}

.section-container {
  min-height: 100vh;
}

#section-2, #section-3, #section-4 {
  display: flex;
}

.left-section, .right-section {
  /* padding: 20px; */
  text-align: center;
  flex: 1;
  display: flex;
}

.left-section {
  display: flex;
  flex-direction: column;
}

 .right-section {
  height: 100vh;
}

.right-scroll-container {
  overflow-y: scroll;
  padding: 15px;
}

.left-section h2 {
  margin: auto;
  font-family: 'Poiret One', cursive;
}

/* ************************section-1************************** */
#section-1 {
  background-color: #BFABAA;
  color: #464646;
}

#section-1 div:first-child {
  text-align: center;
}

.tag-line {
  padding-top: 30px;
  display: inline-block;
}

#red {
  color: #A5142D;
  margin: 0 10px;
}

#name-container {
  text-align: center;
  margin-top: 200px;
}

#name {
  font-family: 'Poiret One', cursive;
  font-size: 45px;
  margin: auto;
}

.hex-img {
  width: 3%;
  vertical-align: top;
}

/* ************************section-2************************** */
#about-me-left {
  background-color: #464646;
  color: white;
}

#about-me-right {
  background-color: #BFABAA;
  color: #464646;
  display: block;
}

#about-me-right p:first-child {
  margin-top: 100px;
}

#about-me-right p {
  margin: 38px;
}

.octagon-img-container {
  width: 35%;
  margin: 55px auto 45px;
}

.octagon-img-container >img {
  width: 100%;
}

#learning {
  margin-top: 100px;
  text-align: center;
  /* position: relative;
  bottom: 30px; */
}

#learning h4 {
  display: inline-block;
}

#learning h4:first-child {
  color: #A5142D
}

#left-about-container {
  display: flex;
  margin: auto;
}

/* #left-about-container > h2 {
  margin: auto;
  flex: 1;
} */

/* ************************section-3************************** */

#projects-left {
  background-color: #BFABAA;
  color: #A5142D;
}

#projects-right {
  background-color: #EEEEEE;
  color: #464646;
}

.project-container {
  margin: 40px 15px 125px;
}

.project-img-container {
  margin: 15px 0
}

.project-description {
  background-color: #464646;
  color: white;
  padding: 25px;
  margin: 5px;
  text-align: center;
}

.built {
  color: #A5142D;
  display: inline;
}

.build-list {
  display: inline;
}

#projects-left-container {
  margin: auto;
}

#project-mini-nav > a {
  color: #464646;
  font-size: calc(12px + (17 - 12) * ((100vw - 320px) / (1000 - 320)));
}

#project-mini-nav > h2 {
  display: inline-block;
  vertical-align: middle;
}

.project-image {
  width: 100%;
}

.gh-img-container {
  margin: 15px auto;
  width: 12%;
}

.gh-image {
  width: 100%
}

/* ************************section-4************************** */
#contact-left {
  background-color: #A5142D;
  color: white;
}

#contact-right {
  background-color: #BFABAA;
  color: #464646;
}

.right-contact-container {
  padding: 25px;
}
.right-contact-container p:first-child {
  margin-top: 150px;
}

.right-contact-container > h4 {
  margin: 45px 0;
}

#contact-links-container {
  text-align: center;
  margin: 30px 0;
}

.contact-img-container {
  margin: 5px;
  display: inline-block;
  width: 10%;
}

.contact-img {
  width: 100%;
}

/* ************************section-1************************** */
#section-5 {
  background-color: #464646;
  color: #E0D1D0;
  /* position: absolute; */
}

.giphy-embed {
  width: 100vh;
  height: 100vh;
  frameBorder: 0;
}
