@media only screen and (max-width: 600px) {
  #section-1, #section-2 {
    width: 100%;
  }

  #section-1::after {
    height: 30vh;
    width: 100vw;
    background-size: 22%;

  }

  .section-container {
    min-height: 30vh;
  }

  #section-2 {
    margin-top: 210px;
  }

  .tag-line {
    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1000 - 320)));
    padding: 0;
  }

  .navigation-container {
    bottom: 10px;
    width: 90%;
  }

  #about-me-right p {
    margin: 5px;
  }

  .octagon-img-container {
    margin: 25px auto;
  }

  .learning {
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .project-container {
    margin: 40px 15px 70px;
  }

  .right-contact-container p:first-child {
      margin-top: 70px;
  }

  #contact-right {
    height: auto;
  }
}

@media only screen and (max-width: 700px) {
  #section-1::after {
  }
}
